.bb {
  position: relative;

  & > button {
    position: absolute;
    bottom: 0;
    z-index: 1;
    border-radius: 0 0.3rem;
    background: rgba(255, 255, 255, 0.5);
    transition: background .5s ease;

    &.active, &:hover {
      background: rgba(255, 255, 255, 0.8);
    }
  }
}

.nav-images {
  & * {
    cursor: pointer;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40px;
    width: 44px;
    opacity: 0.3;

    &.active {
      opacity: 1;
    }
  }
}

*:not(tns-inner) > .my-slider > *:not(:first-child) {
  display: none;
}

