<div class="overflow-hidden rounded-lg">
  <div class="bb">
    <button mat-flat-button [class.active]="isLike" (click)="toggleLike.emit()">
      <ng-container *ngIf="isLike">
        <mat-icon color="accent">favorite</mat-icon>
        В списке желаний
      </ng-container>
      <ng-container *ngIf="!isLike">
        <mat-icon>favorite_border</mat-icon>
        В список желаний
      </ng-container>
    </button>
    <div class="my-slider">
      <div *ngFor="let productImage of productImage">
        <img
          [src]="productImage.image | shopImageURL:500:500"
          [alt]="productImage.image.alt"
          [title]="productImage.image.title"
          class="w-100">
      </div>
    </div>
  </div>
</div>
<div class="nav-images d-flex mt-2">
  <div class="rounded-lg"
       *ngFor="let productImage of productImage; let i = index"
       style.background-image="url({{productImage.image | shopImageURL:170:100}})"
       [class.active]="displayIndex === i"
       [class.ml-2]="i !== 0"
       (click)="showImage(i)">
  </div>
</div>
