<ng-container *ngIf="queryParams | async as queryParams">
  <div class="d-none d-sm-block">
    <span class="font-weight-bold">Сортировка: </span>
    <a *ngFor="let option of options"
       mat-flat-button
       routerLink="."
       class="ml-1"
       style="line-height: unset"
       [queryParams]="getQueryParams(queryParams, option.field, option.sort)"
       [class.border]="isActive(queryParams,option.field, option.sort)">{{option.title}}</a>
  </div>

  <mat-form-field class="d-sm-none">
    <select matNativeControl
            required
            [ngModel]="getActiveOption() | async"
            (ngModelChange)="setSort(queryParams, $event);">
      <option *ngFor="let option of options"
              [ngValue]="option"
              [selected]="isActive(queryParams,option.field, option.sort)">
        {{option.title}}
      </option>
    </select>
  </mat-form-field>
</ng-container>
