<ng-container *ngIf="page | async as page; else notFound">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>{{page.name}}</h1>
      </div>
      <div class="col-12">
        <div [innerHTML]="page.description"></div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #notFound>
  <app-page-not-found></app-page-not-found>
</ng-template>
