<div class="container h-100">
  <div class="row justify-content-center align-items-center h-100">
    <div class="col-auto pt-5 pb-5 text-center">
      <h1 class="h3 mb-3">Страница не найдена</h1>
      <h2 class="h6 mb-4">Возможно, она была удалена или никогда не существовала</h2>
      <a routerLink="/" mat-flat-button color="accent">Перейти на главную</a>
    </div>
  </div>
</div>
