<div class="container">
  <div class="row mt-3 mb-3">
    <div class="col-12 col-sm-6">
      <app-slider [items]="slides | async"></app-slider>
    </div>
    <div class="col-12 col-sm-6">
    </div>
  </div>
  <div class="row">
    <div class="col-12 mt-4" *ngFor="let category of categories | async">
      <app-category-board [category]="category"></app-category-board>
    </div>
  </div>
</div>
