<ng-container *ngIf="catalog | async as catalog; else notFound">
  <div class="container">
    <div class="row pt-3 justify-content-center">
      <div class="col-auto">
        <app-breadcrumbs [breadcrumbs]="catalog.breadcrumbs"></app-breadcrumbs>
      </div>
    </div>
    <div class="row pt-2 justify-content-center">
      <div class="col-auto">
        <h1 class="h4 d-inline">
          {{catalog.category.name}}
        </h1>
        <small class="text-muted">({{catalog.productList.totalCount}} шт)</small>
      </div>
    </div>
    <div class="row align-items-center mt-3 pt-2 pb-2 border-top border-bottom">
      <div class="col">
        <app-sortable></app-sortable>
      </div>
      <div class="col-auto">
        <app-grid-selector #gridSelectorComponent></app-grid-selector>
      </div>
    </div>
    <div class="row px-2 pt-4">
      <ng-container *ngIf="catalog.productList.data.length else notProducts">
        <div *ngFor="let product of catalog.productList.data"
             [ngClass]="{
             'col-6 col-sm-6 col-md-4 col-lg-3': gridSelectorComponent.isMore,
             'col-sm-12 col-md-6 col-lg-4': !gridSelectorComponent.isMore
             }"
             class="px-2 mb-3">
          <app-product-card [product]="product"></app-product-card>
        </div>
      </ng-container>
      <ng-template #notProducts>
        <div class="col-12">
          <div class="row justify-content-center">
            <div class="col-12 col-sm-4 pt-5 pb-5">
              <h3 class="h4 text-center">Пока ничего нет</h3>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
    <div class="row justify-content-center pb-3">
      <div class="col-auto">
        <app-paginator></app-paginator>
      </div>
    </div>
  </div>
  <div class="description d-none d-sm-block pt-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="col-2 d-none d-lg-block">
          <img *ngIf="catalog.category.image"
               [src]="catalog.category.image | shopImageURL:250"
               [alt]="catalog.category.image.alt"
               loading="lazy"
               class="rounded w-100"/>
        </div>
        <div class="col-12 col-lg-10">
          <img *ngIf="catalog.category.image"
               [src]="catalog.category.image | shopImageURL:250"
               [alt]="catalog.category.image.alt"
               loading="lazy"
               class="rounded d-lg-none float-left mr-5 mb-5"/>
          <span class="h2">{{catalog.category.name}}</span>
          <p [innerHTML]="catalog.category.description"></p>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #notFound>
  <app-page-not-found></app-page-not-found>
</ng-template>
