<div class="container">
  <div class="row align-items-center pt-3 pb-3">
    <div class="col-auto col-sm-3 d-flex flex-row align-items-center">
      <div class="mr-3 h3 mb-0">
        <mat-icon [inline]="true">add_shopping_cart</mat-icon>
      </div>
      <div>
        <h5 class="mb-0 d-none d-sm-inline-block">Товар добавлен в корзину!</h5>
      </div>
    </div>
    <div class="col-1 d-none d-sm-block">
      <img *ngIf="getMainImage(product) as image"
           [src]="image | shopImageURL:100:100"
           [alt]="product.name"
           class="w-100">
    </div>
    <div class="col">
      <div class="row">
        <div class="col-12 d-sm-none">
          <h5 class="mb-0 h6">Товар добавлен в корзину!</h5>
        </div>
        <div class="col-12">{{product.name}}</div>
        <div class="col-12">
          <span *ngIf="product.oldPrice" class="text-muted mr-2"><del>{{product.oldPrice | price}}</del></span>
          {{product.price | price}}</div>
      </div>
    </div>
    <div class="col-3 d-block d-sm-none">
      <img *ngIf="getMainImage(product) as image"
           [src]="image | shopImageURL:100:100"
           [alt]="product.name"
           class="w-100">
    </div>
    <div class="col-auto">
      <a routerLink="/cart" mat-flat-button color="accent" (click)="dismiss()">Перейти в корзину</a>
    </div>
    <div class="col d-block d-sm-none"></div>
    <div class="col-auto">
      <button mat-icon-button (click)="dismiss()">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
  </div>
</div>
