@import "variables";

.header-container {
  background-color: $color-4;
  border-bottom: 1px solid $color-3;
  font-size: 13px;

  a {
    color: $color-2;
    text-decoration: none;

    &:hover {
      color: $color-1;
      text-decoration: none;
    }
  }
}

.header-navigation {
  padding-top: 7px;
  height: 32px;
  position: relative;
  z-index: 20;

  .navigation {
    list-style: none;
    display: flex;

    li {
      display: inline-flex;

      & + li {
        margin-left: 24px;
      }
    }
  }
}

.header-main {
  height: 94px;
  align-items: center;
  align-content: center;

  .logotype {
    width: 200px;
  }

  .number {

  }
}
