<!-- Мобильное хэдер -->
<div class="d-sm-none">
  <div class="container header-container pt-2 pb-2">
    <div class="row no-gutters d-flex">
      <div class="col d-inline-flex align-items-center">
        <button mat-icon-button (click)="clickMenu.emit()">
          <mat-icon aria-label="Открыть меню">menu</mat-icon>
        </button>
        <button mat-icon-button (click)="isOpenSearchMobile = !isOpenSearchMobile;">
          <mat-icon aria-label="Поиск">search</mat-icon>
        </button>
      </div>
      <div class="col d-inline-flex align-items-center">
        <div class="w-100 text-center">
          <a routerLink="/" class="h5 pb-0">Francour Flowers</a>
        </div>
      </div>
      <div class="col d-inline-flex align-items-center">
        <div class="w-100 text-right">
          <a mat-icon-button routerLink="/favorites" [matBadge]="getCountFavorites()" matBadgeColor="accent">
            <mat-icon>favorite</mat-icon>
          </a>
          <a mat-icon-button routerLink="/cart" [matBadge]="getCountCartProducts()" matBadgeColor="accent">
            <mat-icon>shopping_cart</mat-icon>
          </a>
        </div>
      </div>
    </div>
    <div *ngIf="isOpenSearchMobile" class="row no-gutters">
      <div class="col">
        <app-search></app-search>
      </div>
    </div>
  </div>
</div>
<!-- Десктопное хэдер -->
<header class="d-none d-sm-inline">
  <div class="container-fluid header-container header-navigation">
    <div class="container">
      <div class="row no-gutters justify-content-between">
        <div class="col-auto">
          <ul *ngIf="topMenu" class="navigation">
            <li *ngFor="let link of topMenu.links">
              <ng-container [ngSwitch]="link.type">
                <ng-container *ngSwitchCase="1">
                  <a [routerLink]="['/', link?.page.slug]">{{link.name || link?.page.name}}</a>
                </ng-container>
                <ng-container *ngSwitchCase="4">
                  <a [routerLink]="link?.category.id | categoryLink">{{link.name || link?.category.name}}</a>
                </ng-container>
                <ng-container *ngSwitchCase="3">
                  <a [routerLink]="['/', 'product', link?.product.slug]">{{link.name || link?.product.name}}</a>
                </ng-container>
                <ng-container *ngSwitchCase="5">
                  <a [href]="link?.url">{{link.name}}</a>
                </ng-container>
                <ng-container *ngSwitchDefault>
                  {{link.name}}
                </ng-container>
              </ng-container>
            </li>
          </ul>
        </div>
        <div class="col-auto">
          <ul class="navigation">
            <li>
              <a [matBadge]="getCountFavorites()"
                 routerLink="/favorites"
                 matBadgeColor="accent"
                 matBadgeOverlap="false">Отложенное</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid header-container header-main d-flex">
    <div class="container">
      <div class="row no-gutters d-flex">
        <div class="col d-inline-flex align-items-center">
          <mat-icon>location_on</mat-icon>
          <span>Москва</span>
        </div>
        <div class="col d-inline-flex align-items-center">
          <div class="w-100 text-center">
            <a routerLink="/">
              <img src="./assets/logo.png" alt="" class="logotype">
            </a>
          </div>
        </div>
        <div class="col d-inline-flex align-items-center">
          <div class="w-100 text-right">
            <a href="tel:+74995001420" class="mr-3">+7 499 500 14 20</a>
            <a routerLink="/cart"
               [matBadge]="getCountCartProducts()"
               matBadgeColor="accent"
               class="d-inline-flex align-items-center">
              <span>Корзина</span>
              <mat-icon>shopping_cart</mat-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
