:host /deep/ {
  mat-form-field {
    height: 50px;
    justify-content: center;
    display: flex;
    align-items: center;

    .mat-form-field-wrapper {
      margin: 0;
      padding: 0;
      font-size: 14px;
      overflow: hidden;
      border-radius: 4px 4px 4px 4px;
      width: 100%;

      .mat-form-field-underline {
        bottom: 0;
        position: relative;
      }

      .mat-form-field-flex {
        padding-top: 0;
        align-items: center;
      }

      .mat-form-field-infix {
        padding: 0;
        border: 0;

        input {
          margin: 0;
        }
      }
    }

    &.active, &.mat-focused {
      .mat-form-field-wrapper {
        border-radius: 0;

        .mat-form-field-flex {
          height: 50px;
          border-radius: 0;
        }
      }
    }
  }

  .mat-form-field-underline {
    display: none;
  }
}
