<form [formGroup]="stateForm">
  <mat-form-field appearance="fill" floatLabel="never" [hideRequiredMarker]="false"
                  [ngClass]="{'active': this.stateForm.get('stateGroup').value}">
    <input type="text" matInput placeholder="Поиск" formControlName="stateGroup" class="no-float"
           [matAutocomplete]="autoGroup">
    <mat-icon matPrefix>search</mat-icon>
    <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clear()">
      <mat-icon>close</mat-icon>
    </button>
    <mat-autocomplete #autoGroup="matAutocomplete">
      <mat-optgroup *ngFor="let group of stateGroupOptions | async" [label]="group.category?.name || 'Без категории'">
        <mat-option *ngFor="let product of group.products" [value]="product.name" (click)="viewProduct(product)">
          {{product.name}}
        </mat-option>
      </mat-optgroup>
    </mat-autocomplete>
  </mat-form-field>
</form>
