@import "variables";
// https://codepen.io/sosuke/pen/Pjoqqp

/deep/ {
  .mobile-menu {
    flex-wrap: wrap;

    & > button, & > a {
      display: flex;
      height: 60px;
      padding: 0 7px;
      line-height: normal;

      .mat-button-wrapper {
        justify-content: center;
      }

      img {
        filter: invert(36%) sepia(48%) saturate(5937%) hue-rotate(200deg) brightness(102%) contrast(105%);
      }

      &.mat-primary {
        color: $color-1;
      }

      & > .mat-button-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        & > span {
          line-height: 1rem;
          overflow: hidden;
          width: 100%;
          text-overflow: ellipsis;
          border-bottom: 1px dotted $color-1;
        }
      }

      &.active > .mat-button-wrapper > span {
        border-bottom: none;
      }
    }
  }

  .sub-mobile-menu {
    mat-expansion-panel-header {
      padding: 0 15px;
    }
  }
}

.header-container {
  background-color: $color-4;
  border-bottom: 1px solid $color-3;
  font-size: 13px;

  a {
    //color: $color-2;
    text-decoration: none;

    &:hover {
      color: $color-1;
      text-decoration: none;
    }
  }

  .header-menu {
    li {
      margin-left: -30px;
      padding: 6px 15px;

      a {
        color: $color-1;
        font-weight: normal;

        //&:before {
        //  content: '';
        //  position: absolute;
        //  top: 0;
        //  bottom: -50px;
        //  background: red;
        //  width: 10px;
        //}
      }
    }
  }
}

.mega-menu-fix {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background: $color-4;
}

.mega-menu-container {
  //height: 296px;
  //margin-bottom: -296px;
  width: 100%;
  position: absolute;
  z-index: 10;
  background-color: $color-4;
  border-bottom: 1px solid $color-3;

  .mega-menu-info-block {
    font-size: 13px;

    &:before {
      position: absolute;
      left: -1px;
      top: 0;
      bottom: 0;
      width: 1px;
      background-color: $color-3;
      display: block;
      content: '';
    }

    mat-icon {
      color: darken($color-3, 10%);
    }
  }

  .mega-menu-col {
    .menu-col {
      a {
        font-size: 14px;
        color: $color-1;

        & > div:first-child {
          text-overflow: ellipsis;
        }

        & > div:last-child {
          font-size: 11px;
          color: darken($color-3, 10%);;
        }
      }
    }
  }
}
