<!-- Мобильный меню -->
<div class="d-sm-none">
  <div *ngIf="menuMobile" class="container header-container pt-2 pb-2">
    <div class="row">
      <div class="col">
        <div class="mobile-menu d-flex justify-content-between">
          <ng-container *ngFor="let link of menuMobile.links">

            <ng-container *ngIf="link.children && link.children.length; else notChildren">
              <button mat-button
                      [matMenuTriggerFor]="subMenu"
                      #t="matMenuTrigger"
                      [ngClass]="{'active': t.menuOpen}"
                      [color]="t.menuOpen ? null : 'primary'">
                <div>
                  <img *ngIf="!t.menuOpen && link.icon" type="image/svg+xml"
                       [src]="link.icon | shopIconURL | safe" width="24" height="24"/>
                  <mat-icon *ngIf="t.menuOpen" [attr.aria-label]="link.name">close</mat-icon>
                </div>
                <div>
                  {{link | getNameLink}}
                </div>
              </button>
              <mat-menu #subMenu="matMenu">
                <ng-container *ngFor="let link2 of link.children">
                  <!--Подменю-->
                  <ng-container *ngIf="link2.type === 6 && link2.children && link2.children.length">
                    <button mat-menu-item [matMenuTriggerFor]="subMenu">{{link2 | getNameLink}}</button>
                    <mat-menu #subMenu="matMenu">
                      <ng-container *ngFor="let link3 of link2.children">
                        <ng-container [ngSwitch]="link.type">
                          <a mat-menu-item *ngSwitchCase="1" [routerLink]="['/', link3?.page.slug]">
                            {{link3 | getNameLink}}
                          </a>
                          <a mat-menu-item *ngSwitchCase="3" [routerLink]="['/', 'product', link3?.product.slug]">
                            {{link3 | getNameLink}}
                          </a>
                          <a mat-menu-item *ngSwitchCase="4" [routerLink]="link3?.category.id | categoryLink">
                            {{link3 | getNameLink}}
                          </a>
                          <a mat-menu-item *ngSwitchCase="5" [href]="link3.url" target="_blank">
                            {{link3 | getNameLink}}
                          </a>
                        </ng-container>
                      </ng-container>
                    </mat-menu>
                  </ng-container>
                  <ng-container [ngSwitch]="link2.type">
                    <a mat-menu-item *ngSwitchCase="1" [routerLink]="['/', link2?.page.slug]">
                      {{link2 | getNameLink}}
                    </a>
                    <a mat-menu-item *ngSwitchCase="3" [routerLink]="['/', 'product', link2?.product.slug]">
                      {{link2 | getNameLink}}
                    </a>
                    <a mat-menu-item *ngSwitchCase="4" [routerLink]="link2?.category.id | categoryLink">
                      {{link2 | getNameLink}}
                    </a>
                    <a mat-menu-item *ngSwitchCase="5" [href]="link2.url" target="_blank">
                      {{link2 | getNameLink}}
                    </a>
                  </ng-container>
                </ng-container>
                <!--Смотреть все-->
                <ng-container [ngSwitch]="link.type">
                  <a mat-menu-item *ngSwitchCase="1" [routerLink]="['/', link?.page.slug]">
                    Смотреть все
                  </a>
                  <a mat-menu-item *ngSwitchCase="3" [routerLink]="['/', 'product', link?.product.slug]">
                    Смотреть все
                  </a>
                  <a mat-menu-item *ngSwitchCase="4" [routerLink]="link?.category.id | categoryLink">
                    Смотреть все
                  </a>
                </ng-container>
              </mat-menu>
            </ng-container>
            <ng-template #notChildren>
              <ng-container [ngSwitch]="link.type">
                <a mat-button color="primary" *ngSwitchCase="1" [routerLink]="['/', link?.page.slug]">
                  <div>
                    <img *ngIf="link.icon" type="image/svg+xml"
                         [src]="link.icon | shopIconURL | safe" width="24" height="24"/>
                  </div>
                  <div>
                    {{link | getNameLink}}
                  </div>
                </a>
                <a mat-button color="primary" *ngSwitchCase="3" [routerLink]="['/', 'product', link?.product.slug]">
                  <div>
                    <img *ngIf="link.icon" type="image/svg+xml"
                         [src]="link.icon | shopIconURL | safe" width="24" height="24"/>
                  </div>
                  <div>
                    {{link | getNameLink}}
                  </div>
                </a>
                <a mat-button color="primary" *ngSwitchCase="4" [routerLink]="link?.category.id | categoryLink">
                  <div>
                    <img *ngIf="link.icon" type="image/svg+xml"
                         [src]="link.icon | shopIconURL | safe" width="24" height="24"/>
                  </div>
                  <div>
                    {{link | getNameLink}}
                  </div>
                </a>
                <a mat-button color="primary" *ngSwitchCase="5" [href]="link.url" target="_blank">
                  <div>
                    <img *ngIf="link.icon" type="image/svg+xml"
                         [src]="link.icon | shopIconURL | safe" width="24" height="24"/>
                  </div>
                  <div>
                    {{link | getNameLink}}
                  </div>
                </a>
              </ng-container>
            </ng-template>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Десктопный меню -->
<div class="d-none d-sm-inline">
  <div *ngIf="menu">
    <div class="header-container">
      <div class="container ">
        <div class="row align-items-center">
          <div class="col-9">
            <ul class="header-menu menu-2 d-flex">
              <li *ngFor="let link of menu.links">
                <ng-container [ngSwitch]="link.type">
                  <ng-container *ngSwitchCase="1">
                    <a mat-button
                       [routerLink]="['/', link?.page.slug]"
                       [attr.data-menu-id]="link.id"
                       [attr.data-menu-length-links]="link.children.length">{{link | getNameLink}}</a>
                  </ng-container>
                  <ng-container *ngSwitchCase="3">
                    <a mat-button
                       [routerLink]="['/', 'product', link?.product.slug]"
                       [attr.data-menu-id]="link.id"
                       [attr.data-menu-length-links]="link.children.length">{{link | getNameLink}}</a>
                  </ng-container>
                  <ng-container *ngSwitchCase="4">
                    <a mat-button
                       [routerLink]="link?.category.id | categoryLink"
                       [attr.data-menu-id]="link.id"
                       [attr.data-menu-length-links]="link.children.length">{{link | getNameLink}}</a>
                  </ng-container>
                  <ng-container *ngSwitchDefault>
                    {{link.name}}
                  </ng-container>
                </ng-container>
              </li>
            </ul>
          </div>
          <div class="col-3">
            <app-search></app-search>
          </div>
        </div>
      </div>
    </div>
    <div class="mega-menu-container" [ngClass]="{'d-none': idOpenMenu === null}">
      <div class="container pt-4 pb-4">
        <div class="row">
          <ng-container *ngFor="let menu of menu.links">
            <div *ngIf="menu.children.length > 0" class="col-9 mega-menu-col"
                 [ngClass]="{'d-none': idOpenMenu !== menu.id}">
              <div class="row">
                <div *ngFor="let menu_2 of menu.children" class="col-3 menu-col">
                  <div class="h6">{{menu_2.name}}</div>
                  <ul *ngIf="menu_2.children.length > 0">
                    <li *ngFor="let menu_3 of menu_2.children">
                      <ng-container [ngSwitch]="menu_3.type">
                        <ng-container *ngSwitchCase="1">
                          <a class="d-flex align-items-center"
                             [routerLink]="['/', menu_3?.page.slug]">{{menu_3 | getNameLink}}</a>
                        </ng-container>
                        <ng-container *ngSwitchCase="3">
                          <a class="d-flex align-items-center"
                             [routerLink]="['/', 'product', menu_3?.product.slug]">{{menu_3 | getNameLink}}</a>
                        </ng-container>
                        <ng-container *ngSwitchCase="4">
                          <a class="d-flex align-items-center"
                             [routerLink]="menu_3.category?.id | categoryLink">
                            <div class="overflow-hidden">
                              {{menu_3 | getNameLink}}
                            </div>
                            <div class="pl-2">
                              {{menu_3?.category.countOfProducts}}
                            </div>
                          </a>
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                          <span [attr.data-menu-id]="menu_3.id"
                                [attr.data-menu-length-links]="menu_3.children.length">{{menu_3.name}}</span>
                        </ng-container>
                      </ng-container>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </ng-container>

          <div class="col-3 d-flex flex-column justify-content-between mega-menu-info-block">
            <div class="d-flex">
              <mat-icon class="mr-2">star_rate</mat-icon>
              <div>
                <p class="h6 font-weight-normal">Гарантия качества</p>
                <p>Что-то не так? Поменяем букет или вернём деньги.</p>
              </div>
            </div>
            <div class=" d-flex">
              <mat-icon class="mr-2">photo_camera</mat-icon>
              <div>
                <p class="h6 font-weight-normal">Гарантия качества</p>
                <p>Что-то не так? Поменяем букет или вернём деньги.</p>
              </div>
            </div>
            <div class=" d-flex">
              <mat-icon class="mr-2">email</mat-icon>
              <div>
                <p class="h6 font-weight-normal">Гарантия качества</p>
                <p>Что-то не так? Поменяем букет или вернём деньги.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
