<ng-container *ngIf="queryParams | async as queryParams">
  <ng-container *ngIf="paginatorData | async as paginatorData">
    <ng-container *ngIf="paginatorData.countPage > 1 && paginatorData.currentPage <= paginatorData.countPage">
      <a *ngIf="paginatorData.currentPage > 1"
         [queryParams]="getQueryParams(queryParams, paginatorData.currentPage - 1)"
         mat-icon-button
         routerLink=".">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </a>
      <button *ngIf="paginatorData.currentPage <= 1" mat-icon-button disabled>
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <ng-container *ngFor="let page of paginatorData.pages">
        <ng-container *ngIf="!page">...</ng-container>
        <ng-container *ngIf="page === paginatorData.currentPage">
          <a [queryParams]="getQueryParams(queryParams, page)"
             mat-mini-fab
             routerLink="."
             color="accent"
             class="mat-elevation-z0">{{page}}</a>
        </ng-container>
        <ng-container *ngIf="page !== paginatorData.currentPage">
          <a [queryParams]="getQueryParams(queryParams, page)"
             mat-icon-button
             routerLink=".">{{page}}</a>
        </ng-container>
      </ng-container>
      <a *ngIf="paginatorData.currentPage < paginatorData.countPage"
         [queryParams]="getQueryParams(queryParams, paginatorData.currentPage + 1)"
         mat-icon-button
         routerLink=".">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </a>
      <button *ngIf="paginatorData.currentPage >= paginatorData.countPage" mat-icon-button disabled>
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </ng-container>
  </ng-container>
</ng-container>
