<span class="font-weight-bold d-none d-sm-inline">Вид отображения: </span>
<mat-button-toggle-group [(ngModel)]="isMore" (change)="changeIsMore($event.value)">
  <mat-button-toggle [value]="true">
    <mat-icon>apps</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle [value]="false">
    <mat-icon>drag_indicator</mat-icon>
  </mat-button-toggle>
</mat-button-toggle-group>
