<div class="container">
  <div class="row pt-3 justify-content-center">
    <div class="col-auto">
      <app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
    </div>
  </div>
  <div class="row pt-2 justify-content-center">
    <div class="col-auto">
      <h1 class="h4 d-inline">
        {{title}}
      </h1>
      <small class="text-muted">({{(productList | async)?.totalCount || 0}} шт)</small>
    </div>
  </div>
  <div class="row align-items-center mt-3 pt-2 pb-2 border-top border-bottom">
    <div class="col">
      <app-sortable></app-sortable>
    </div>
    <div class="col-auto">
      <app-grid-selector #gridSelectorComponent></app-grid-selector>
    </div>
  </div>
  <div class="row px-2 pt-4">
    <ng-container *ngIf="productList | async as productList else notFavorites">
      <div *ngFor="let product of productList.data"
           [ngClass]="{
            'col-6 col-sm-6 col-md-4 col-lg-3': gridSelectorComponent.isMore,
            'col-sm-12 col-md-6 col-lg-4': !gridSelectorComponent.isMore
           }"
           class="px-2 mb-3">
        <app-product-card [product]="product"></app-product-card>
      </div>
    </ng-container>
    <ng-template #notFavorites>
      <div class="col-12">
        <div class="row justify-content-center">
          <div class="col-12 col-sm-4 pt-5 pb-5">
            <h3 class="h4 text-center">У вас пока ничего нет в отложенных товарах</h3>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
  <div class="row justify-content-center pb-3">
    <div class="col-auto">
      <app-paginator></app-paginator>
    </div>
  </div>
</div>
