<ng-container *ngIf="category && products.length">
  <div class="row align-items-center justify-content-between pt-2 pb-2">
    <div class="col-auto">
      <a [routerLink]="category.id | categoryLink" class="h3 text-body">{{category.name}}</a>
    </div>
    <div class="col-auto">
      <a [routerLink]="category.id | categoryLink" mat-flat-button color="primary">Смотреть все</a>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let product of products" class="mb-3 col-6 col-lg-3 col-md-3 col-sm-4">
      <app-product-card [product]="product"></app-product-card>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button mat-stroked-button
              [disabled]="totalCount <= products.length"
              (click)="moreShow()"
              class="w-100">Показать еще
      </button>
    </div>
  </div>
</ng-container>
