<ul>
  <li>
    <a routerLink="/" class="text-secondary">Francour Flowers</a>
  <li *ngFor="let breadcrumb of breadcrumbs">
    <a *ngIf="breadcrumb.routerLink"
       [routerLink]="breadcrumb.routerLink"
       class="text-secondary">{{breadcrumb.name}}</a>
    <ng-container *ngIf="!breadcrumb.routerLink">{{breadcrumb.name}}</ng-container>
  </li>
</ul>
