ul {
  list-style: none;
  padding: 0;

  li {
    padding: 0;
    margin: 0;
    display: inline;
    color: #000;
    font-size: 13px;
  }

  li + li::before {
    display: inline;
    content: ' / ';
    color: #8e8e93;
  }
}
