<button
  mat-flat-button
  aria-label="Удалить"
  [disabled]="count <= 1"
  (click)="remove()">
  <mat-icon>remove</mat-icon>
</button>

<input type="number" [(ngModel)]="value">

<button
  mat-flat-button
  aria-label="Добавить"
  [disabled]="count > 1000"
  (click)="add()">
  <mat-icon>add</mat-icon>
</button>
