:host {
  border: 1px solid rgba(0, 0, 0, .12);
  background: #fff;
  display: flex;
  border-radius: 4px;
  overflow: hidden;

  input {
    border-top: 0;
    border-bottom: 0;
    border-left: 1px solid rgba(0, 0, 0, .12);
    border-right: 1px solid rgba(0, 0, 0, .12);
    flex-grow: 1;
    text-align: center;
  }

  button {
    min-width: auto;
    border-radius: 0;
  }
}
