@import "variables";

ul {
  list-style: none;

  li:before {
    content: "+";
    margin-right: 4px;
  }
}

.payments {
  img {
    height: 20px;
    width: auto;
  }

  img + img {
    margin-left: 1rem;
  }
}

.block-add-to-cart {
  background-color: rgba($color-2, 0.15);
}
