<ng-container *ngIf="product | async as product; else notFound">
  <div class="container">
    <div class="row mt-3 mb-3">
      <div class="col-12 mb-3">
        <app-breadcrumbs [breadcrumbs]="breadcrumbs | async"></app-breadcrumbs>
      </div>
      <div class="col-12 col-sm-4">
        <app-product-images [productImage]="product.productImages"
                            [isLike]="isLike | async"
                            (toggleLike)="toggleLike()"></app-product-images>
      </div>
      <div class="col-12 col-sm-4 mt-2 mt-sm-0">
        <div class="row">
          <div class="col-12">
            <h1 class="h4 font-weight-light">{{product.name}}</h1>
          </div>
          <div class="col-12">
            <p class="h4 font-weight-light">{{product.price | price}}</p>
          </div>
          <div class="col-12 d-none d-sm-inline">
            <app-counter [(ngModel)]="count"></app-counter>
          </div>
          <div class="col-12 d-none d-sm-inline">
            <button *ngIf="!(hasCart | async)"
                    mat-flat-button
                    color="primary"
                    class="w-100 mt-2"
                    (click)="addInCart()">
              Добавить в корзину
            </button>
            <a *ngIf="hasCart | async"
               routerLink="/cart"
               mat-flat-button
               color="accent"
               class="w-100 mt-2">
              Перейти в корзину
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12">
        <section class="border-top mt-4 mb-4">
          <h2 class="h4 font-weight-lighter mt-4 mb-4">Описание продукта</h2>
          <div class="row">
            <div class="col-12 col-sm-4">
              <h3 class="h5 font-weight-lighter text-muted">О букете</h3>
            </div>
            <div class="col-12 col-sm-7" [innerHTML]="product.description">
              <!--              <p class="font-weight-light m-0">Бельгийский голубой и розовый шоколад с сушеной клубникой, сушеной-->
              <!--                смородиной, пищевым золотом и бурбонской ванилью.-->
              <!--                На основе масла какао.</p>-->
            </div>
          </div>
        </section>
        <section class="border-top mt-4 mb-4">
          <h2 class="h4 font-weight-lighter mt-4 mb-4">Оплата</h2>
          <div class="row">
            <div class="col-12 col-sm-4">
              <h3 class="h5 font-weight-lighter text-muted">Способы оплаты</h3>
            </div>
            <div class="col-12 col-sm-7">
              <ul class="font-weight-light">
                <li>Банковской картой</li>
                <li>Наличными</li>
                <li>Apple Pay</li>
                <li>Картой при вручении</li>
                <li>Счёт для юридического лица</li>
              </ul>

              <div class="payments d-flex justify-content-between mt-4">
                <img src="../../../../../assets/images/payment_visa.svg" alt="Visa">
                <img src="../../../../../assets/images/payment_mastercard.svg" alt="MasterCard">
                <img src="../../../../../assets/images/payment_mir.svg" alt="Mir">
                <img src="../../../../../assets/images/payment_apple.svg" alt="Apple">
                <img src="../../../../../assets/images/payment_google.svg" alt="Google">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-4"></div>
            <div class="col-12 col-sm-7">
              <div class="col border-top mt-4 pt-4"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-4">
              <h3 class="h5 font-weight-lighter text-muted">Безопасность</h3>
            </div>
            <div class="col-12 col-sm-7">
              <p class="font-weight-light m-0">
                Для защиты данных покупателя используется шифрование на транспортном уровне — <span
                class="text-primary">TLS 1.2</span> и на прикладном уровне алгоритмом <span
                class="text-primary">RSA</span> с длиной ключа 2048 бит.
              </p>
            </div>
          </div>
        </section>
        <section class="border-top mt-4 mb-4">
          <h2 class="h4 font-weight-lighter mt-4 mb-4">Доставка</h2>
          <div class="row">
            <div class="col-12 col-sm-4">
              <h3 class="h5 font-weight-lighter text-muted">Условия доставки</h3>
            </div>
            <div class="col-12 col-sm-7">
              <p class="font-weight-light m-0">
                Доставка осуществляется круглосуточно, день в день.
                <br>
                <br>
                Минимальное время доставки после оформления заказа – 2 часа. Также возможна срочная доставка после
                согласования с оператором. Начать чат.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-4"></div>
            <div class="col-12 col-sm-7">
              <div class="col border-top mt-4 pt-4"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-4">
              <h3 class="h5 font-weight-lighter text-muted">Зоны доставки</h3>
            </div>
            <div class="ol-12 col-sm-7">
              <p class="font-weight-light m-0">
                Внутри МКАД – <span class="text-primary">бесплатно.</span><br>
                За пределы МКАД до 5 км – <span class="text-primary">500 ₽</span><br>
                За пределы МКАД после 5 км – <span class="text-primary">50 ₽ за км.</span><br>
                Возможна доставка в города Московской областей.
              </p>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <div class="block-add-to-cart d-sm-none pt-2 pb-2 sticky-bottom">
    <div class="container">
      <div class="row align-items-center px-2">
        <div class="col px-2">
          <button *ngIf="!(hasCart | async)"
                  mat-flat-button
                  color="primary"
                  class="w-100"
                  (click)="addInCart()">
            Добавить в корзину
          </button>
          <a *ngIf="hasCart | async"
             routerLink="/cart"
             mat-flat-button
             color="accent"
             class="w-100">
            Перейти в корзину
          </a>
        </div>
        <div class="col-auto px-2">
          <button mat-icon-button (click)="toggleLike()">
            <mat-icon *ngIf="isLike | async" color="accent">favorite</mat-icon>
            <mat-icon *ngIf="!(isLike | async)">favorite_border</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #notFound>
  <app-page-not-found></app-page-not-found>
</ng-template>
