<div class="container pt-5 pb-3 pb-sm-5">
  <div class="row">
    <div class="col-sm-3">
      <div class="h6 d-none d-sm-block w-100 text-center">
        {{mainData?.siteName }} © {{getCurrentYear()}}
      </div>
      <div class="h6 d-block d-sm-none w-100 text-center">
        Заполните ленту цветами
      </div>
      <div *ngIf="socialMenu" class="d-flex w-100 justify-content-center pb-2 pt-2">
        <ng-container *ngFor="let link of socialMenu.links">
          <a *ngIf="link.type === 5" [href]="link.url" mat-button target="_blank">
            <img *ngIf="link.icon" [src]="link.icon | shopIconURL | safe" width="24" height="24"/>
          </a>
        </ng-container>
      </div>
      <div class="d-flex w-100 justify-content-center pb-2 pt-2">
        <a href="tel:+74995001420" class="text-body phone">+7 499 500 14 20</a>
      </div>
    </div>
    <div class="col d-none d-sm-block">
      <div *ngIf="footerMenu" class="row">
        <div class="col" *ngFor="let item of footerMenu.links">
          <div class="h6">{{item.name}}</div>
          <ul class="list-menu">
            <li *ngFor="let item2 of item.children">
              <a routerLink="/">{{item2.name}}</a>
              <ng-container [ngSwitch]="item2.type">
                <ng-container *ngSwitchCase="1">
                  <a class="d-flex align-items-center"
                     [routerLink]="['/', item2?.page.slug]">
                    {{item2.name || item2?.page.name}}
                  </a>
                </ng-container>
                <ng-container *ngSwitchCase="3">
                  <a class="d-flex align-items-center"
                     [routerLink]="['/', 'product', item2?.product.slug]">
                    {{item2.name || item2?.product.name}}
                  </a>
                </ng-container>
                <ng-container *ngSwitchCase="4">
                  <a class="d-flex align-items-center"
                     [routerLink]="item2.category?.id | categoryLink">
                    {{item2.name || item2?.category.name}}
                  </a>
                </ng-container>
              </ng-container>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="footerMenuMobile" class="container d-sm-none border-top  border-bottom pt-2 pb-2">
  <div class="row">
    <div class="col">
      <ul class="d-flex justify-content-between">
        <li *ngFor="let link of footerMenuMobile.links ">
          <ng-container [ngSwitch]="link.type">
            <ng-container *ngSwitchCase="1">
              <a class="d-flex align-items-center"
                 [routerLink]="['/', link?.page.slug]">
                {{link.name || link?.page.name}}
              </a>
            </ng-container>
            <ng-container *ngSwitchCase="3">
              <a class="d-flex align-items-center"
                 [routerLink]="['/', 'product', link?.product.slug]">
                {{link.name || link?.product.name}}
              </a>
            </ng-container>
            <ng-container *ngSwitchCase="4">
              <a class="d-flex align-items-center"
                 [routerLink]="link.category?.id | categoryLink">
                {{link.name || link?.category.name}}
              </a>
            </ng-container>
          </ng-container>
        </li>
      </ul>
    </div>
  </div>
</div>
