@import "variables";

:host {
  display: block;
  border-top: 1px solid $color-3;
  background-color: $color-4;

  .list-menu {
    a {
      font-size: 0.8rem;
      color: darken($color-3, 30%);

      &:hover {
        color: $color-1;
      }
    }
  }

  .phone:hover {
    text-decoration: underline;
  }
}
