@import "variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/functions";

.product-card-title {
  display: -moz-box;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -moz-box-orient: vertical;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 3em;
  height: auto;
}

.img-container-fix {
  &::before {
    content: '';
    display: block;
    padding-top: 100%;
  }

  img {
    opacity: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}


@include media-breakpoint-down(xs) {
  :host /deep/ {
    button, a {
      font-size: .8rem !important;
    }

    .mat-flat-button {
      padding: 0 5px !important;
    }
  }
}
