<mat-card class="mat-elevation-z0 overflow-hidden border">
  <a [routerLink]="['/product', product.slug]"
     mat-card-image
     class="d-block">
    <div class="img-container-fix">
      <img *ngIf="getMainImage(product) as image"
           [src]="image | shopImageURL:500:500"
           [alt]="product.name"
           loading="lazy"
           class="w-100">
    </div>
  </a>
  <mat-card-content class="mb-0">
    <div class="d-flex align-items-center">
      <div class="flex-grow-1">
        <a [routerLink]="['/product', product.slug]" class="product-card-title">{{product.name}}</a>
      </div>
      <div>
        <div class="text-nowrap">{{product.price | price}}</div>
        <div *ngIf="product.oldPrice" class="text-nowrap text-muted">
          <del>{{product.oldPrice | price}}</del>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions class="ml-0 mr-0">
    <div class="d-flex align-items-center">
      <button *ngIf="!(hasCart | async)" mat-stroked-button class="flex-grow-1 mr-2" (click)="addInCart()">Заказать
      </button>
      <a *ngIf="hasCart | async" routerLink="/cart" mat-flat-button color="accent" class="flex-grow-1 mr-2">В
        корзину</a>
      <button mat-icon-button style="margin-right: -8px" (click)="toggleLike()">
        <mat-icon *ngIf="isLike | async" color="accent">favorite</mat-icon>
        <mat-icon *ngIf="!(isLike | async)">favorite_border</mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>
