<mat-drawer-container [hasBackdrop]="true" [class.position-fixed]="drawer.opened">
  <mat-drawer #drawer mode="push">
    <div class="d-flex flex-column h-100">
      <div class="menu-1 p-4">
        <a mat-stroked-button routerLink="/" class="w-100 bg-white">Главная</a>
        <ng-container *ngIf="sidebarMenu | async as sidebarMenu">
          <ng-container
            *ngFor="let link of sidebarMenu.links; let isEven = even;let i = index;let isLast= last">
            <div *ngIf="isEven" class="d-flex mt-2">
              <a mat-stroked-button [routerLink]="link | linkHref" [ngClass]="{'mr-1': !isLast}"
                 class="w-100 bg-white p-0">{{link | shopLinkName}}</a>
              <a *ngIf="!isLast && sidebarMenu.links[i+1]"
                 mat-stroked-button
                 [routerLink]="sidebarMenu.links[i + 1] | linkHref"
                 class="w-100 bg-white ml-1 p-0">{{sidebarMenu.links[i + 1] | shopLinkName}}</a>
            </div>
          </ng-container>
        </ng-container>
      </div>

      <div class="menu-2 p-4 bg-white">
        <a mat-stroked-button routerLink="/cart" class="w-100 text-left" [matBadge]="getCountCartProducts() | async"
           matBadgeColor="accent">
          <mat-icon>shopping_cart</mat-icon>
          Корзина
        </a>
        <a mat-stroked-button routerLink="/favorites" class="w-100 text-left mt-2"
           [matBadge]="getCountFavorites() | async" matBadgeColor="accent">
          <mat-icon>favorite</mat-icon>
          Отложенное
        </a>
      </div>

      <mat-action-list *ngIf="headerTopMenu | async as headerTopMenu" class="pt-0">
        <ng-container *ngFor="let link of headerTopMenu.links;let isLast= last">
          <mat-divider></mat-divider>
          <a mat-list-item [routerLink]="link | linkHref">{{link | shopLinkName}}</a>
          <mat-divider *ngIf="isLast"></mat-divider>
        </ng-container>
      </mat-action-list>

      <div class="menu-2 p-4 bg-white mt-auto sticky-bottom">
        <div *ngIf="socialMenu | async as socialMenu" class="d-flex justify-content-between">
          <ng-container *ngFor="let link of socialMenu.links">
            <a *ngIf="link.type === 5" [href]="link.url" mat-button target="_blank">
              <img *ngIf="link.icon" [src]="link.icon | shopIconURL | safe" width="24" height="24"/>
            </a>
          </ng-container>
        </div>
        <a href="tel:4343434"
           mat-raised-button color="primary" class="w-100 mt-2">8 434 343 34 34</a>
      </div>
    </div>

  </mat-drawer>
  <mat-drawer-content class="d-flex flex-column">
    <app-header [mainData]="mainData | async"
                [topMenu]="headerTopMenu | async"
                [countFavorites]="countFavorites | async"
                [countCartProducts]="countCartProducts | async"
                (clickMenu)="drawer.toggle()"></app-header>
    <app-main-menu [menu]="mainMenu | async" [menuMobile]="mainMenuMobile | async" class="sticky-top"></app-main-menu>
    <div class="flex-grow-1 d-flex  align-content-stretch">
      <div class="flex-grow-1">
        <router-outlet></router-outlet>
      </div>

    </div>
    <app-footer [mainData]="mainData | async"
                [footerMenu]="footerMenu | async"
                [footerMenuMobile]="footerMenuMobile | async"
                [socialMenu]="socialMenu | async"></app-footer>
  </mat-drawer-content>
</mat-drawer-container>

<!--Test-->
<!--<div style="position: absolute;bottom: 20px; background: rgba(255,0,0,.5); z-index: 999999;" class="p-4">-->
<!--  {{checkPosition}}-->
<!--</div>-->
