@import "variables";

/deep/ {
  .mat-list-item-content {
    padding: 0 1.5rem !important;
  }
}

mat-drawer-container, mat-drawer-content {
  height: auto;
  min-height: 100vh;
  overflow: inherit;
}

mat-drawer {
  width: 256px;
  background-color: darken($color-5, 3%) !important;
  position: fixed;

  .block-1 {

  }
}
