<div *ngIf="productList" class="container">
  <div class="row pt-3 justify-content-center">
    <div class="col-auto">
      <app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
    </div>
  </div>
  <div class="row pt-2 justify-content-center">
    <div class="col-auto">
      <h1 class="h4 d-inline">
        {{title}}
      </h1>
      <small class="text-muted">({{productList.length}} шт)</small>
    </div>
  </div>
  <div class="row pt-4 pb-5">
    <div class="col">
      <mat-card *ngIf="productList.length" class="mat-elevation-z0 border p-0 overflow-hidden">
        <mat-vertical-stepper linear #stepper>
          <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
              <ng-template matStepLabel>Ваши контакты</ng-template>
              <p class="m-0">
                <mat-form-field appearance="outline">
                  <mat-label>Имя</mat-label>
                  <input matInput placeholder="Введите..." formControlName="firstName" required>
                </mat-form-field>
              </p>
              <p class="m-0">
                <mat-form-field appearance="outline">
                  <mat-label>Мобильный телефон</mat-label>
                  <input matInput placeholder="Введите..." formControlName="phone" required>
                </mat-form-field>
              </p>
              <div>
                <button mat-button matStepperNext>Далее</button>
              </div>
            </form>
          </mat-step>
          <!--          <mat-step [stepControl]="secondFormGroup">-->
          <!--            <form [formGroup]="secondFormGroup">-->
          <!--              <ng-template matStepLabel>Адрес доставки / самовывоза</ng-template>-->
          <!--              <mat-form-field>-->
          <!--                <input matInput placeholder="Адресс" formControlName="secondCtrl" required>-->
          <!--              </mat-form-field>-->
          <!--              <div>-->
          <!--                <button mat-button matStepperPrevious>Назад</button>-->
          <!--                <button mat-button matStepperNext>Далее</button>-->
          <!--              </div>-->
          <!--            </form>-->
          <!--          </mat-step>-->
          <mat-step>
            <ng-template matStepLabel>Завершение</ng-template>
            Все готово. Оформить заказ?
            <div>
              <button mat-button matStepperPrevious>Назад</button>
              <button mat-button (click)="order()">Да</button>
            </div>
          </mat-step>
        </mat-vertical-stepper>
      </mat-card>
    </div>
    <div class="col-5" style="font-size: .8rem">
      <mat-card class="mat-elevation-z0 border p-0">
        <div class="list-product-in-cart p-3">
          <ng-container *ngIf="productList.length; else cartEmptyTemplate">
            <ng-container *ngFor="let product of productList;trackBy: trackByFn; last as last">
              <div class="row no-gutters"
                   [class.mb-3]="!last">
                <div class="col-4 mr-3">
                  <img *ngIf="getMainImage(product.product) as image"
                       [src]="image | shopImageURL:100:100"
                       [alt]="product.product.name"
                       class="w-100 rounded">
                </div>
                <div class="col mr-3">
                  {{product.product.name}}
                </div>
                <div class="col-auto d-flex flex-column align-items-end justify-content-between">
                  <div class="">
                    {{product.product.price | price}}
                  </div>
                  <div class=""></div>
                  <div class="">
                    <button mat-icon-button
                            (click)="delete(product.product.id)"
                            [disabled]="!product.cartProduct">
                      <mat-icon>delete_forever</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>
          <ng-template #cartEmptyTemplate>
            Вы ещё ничего не добавили в корзину
          </ng-template>
        </div>
        <div class="total-cart border-top p-3">
          Итого: {{getTotalPrice() | price}}
        </div>
      </mat-card>
    </div>
  </div>
</div>
