<div class="overflow-hidden rounded-lg">
  <div class="my-slider">
    <div *ngFor="let slide of items" class="position-relative overflow-hidden">
      <div *ngIf="slide.links[0] as link"
           class="info position-absolute w-100 h-100 d-flex flex-column justify-content-center align-items-center">
        <h3 class="h2 text-light rounded-lg pl-1 pr-1 mb-4">{{link | getNameLink}}</h3>
        <ng-container [ngSwitch]="link.type">
          <a mat-flat-button *ngSwitchCase="1" [routerLink]="['/', link?.page.slug]">
            Подробнее
          </a>
          <a mat-flat-button *ngSwitchCase="3" [routerLink]="['/', 'product', link?.product.slug]">
            Подробнее
          </a>
          <a mat-flat-button *ngSwitchCase="4" [routerLink]="link?.category.id | categoryLink">
            Подробнее
          </a>
          <a mat-flat-button *ngSwitchCase="5" [href]="link.url" target="_blank">
            Подробнее
          </a>
        </ng-container>
      </div>
      <img [src]="slide.image | shopImageURL:500:300"
           [alt]="slide.image.alt"
           [title]="slide.image.title"
           class="w-100">
    </div>
  </div>
</div>
