* {
  &:active,
  :focus {
    outline: none !important;
  }
}

label {
  margin-bottom: 0;
}


//a:not(.mat-button):not(.mat-raised-button):not(.mat-fab):not(.mat-mini-fab):not([mat-list-item]):not([mat-menu-item]) {
//  color: #3f51b5;
//}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
