$link-color: #3f51b5;
$link-hover-color: currentColor;
$link-hover-decoration: none;

$zindex-sticky: 1000;

$grid-breakpoints: (
  xs: 0, // handset portrait (small, medium, large) | handset landscape (small)
  sm: 768px, // handset landscape (medium, large) | tablet portrait(small, large)
  md: 992px, //  tablet landscape (small, large)
  lg: 1200px, // laptops and desktops
  xl: 1201px // large desktops
);

$container-max-widths: (
  sm: 768px,
  md: 992px,
  lg: 1200px,
  xl: 1201px
);

$border-color: #e0e0e0;

//
$color-1: #007aff;
$color-2: #3c3c3c;
$color-3: #e5e5ea;
$color-4: #fff;
$color-5: #fcfcfc;
