@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities";
@import "reset";


body {
  background-color: $color-5;
  font-size: 16px;
}

[disabled] {
  pointer-events: none;
}

.sticky-bottom {
  position: -webkit-sticky !important;
  position: sticky !important;
  bottom: 0 !important;
}
